doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')

		link(rel='apple-touch-icon', sizes='76x76', href='./img/apple-icon.png')
		link(rel='icon', type='image/png', href='./img/favicon.png')
		
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200')
		link(rel='stylesheet', href='./bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='./font-awesome/css/font-awesome.min.css')
		
		//- link(rel='stylesheet', href='./bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
		//- link(rel='stylesheet', href='./bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
		//- link(rel='stylesheet', href='./nouislider/distribute/nouislider.min.css')

		link(rel='stylesheet', href='./stylesheets/now-ui-kit.css?v=1.1.0')
		link(rel='stylesheet', href='./stylesheets/style.css')
		
		title=title

	body.sidebar-collapse
		<!-- Navbar -->
		nav.navbar.navbar-expand-lg.bg-white.fixed-top(color-on-scroll="400",color-on="false")
			.container-fluid
				.navbar-translate
					button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navigation",aria-controls="navigation-index",aria-expanded="false",aria-label="Toggle navigation")
						span.navbar-toggler-bar.bar1
						span.navbar-toggler-bar.bar2
						span.navbar-toggler-bar.bar3
					.d-flex.p-2.align-items-center.ml-2
						span.d-none.d-md-block.d-lg-block.d-xl-block Nivel de Usuario:
						span.fa.fa-user.fa-fw.fa-2x.d-block.d-sm-block.d-md-none.d-lg-none.d-xl-none
						span.ml-2 Partner
					form.form-inline.mr-auto
						.input-group.form-group-no-border.input-lg.mb-0
							input.form-control(type="search",placeholder="Buscar..")
							.input-group-append.ml-0
								button.input-group-addon.input-group-text.p-3(type="submit",style="outline: none;cursor:pointer;")
									i.fa.fa-search.fa-fw
					.d-none.d-md-block.d-lg-block.d-xl-block
						ul.nav.d-flex.justify-content-end
							li.nav-item
								a.nav-link(href="/")
									| Mi Cuenta
							li.nav-item
								a.nav-link(href="#")
									| Salir
				#navigation.collapse.navbar-collapse.justify-content-end(data-nav-image="./images/KRILLOS.jpg")
					a.navbar-brand.text-center(href="/",style="display: block;")
						img(src="./images/logo.png", alt="")
					hr.white
					ul.navbar-nav
						li.nav-item.d-block.d-sm-block.d-md-none.d-lg-none.d-xl-none
							a.nav-link(href="/")
								i.now-ui-icons.users_circle-08
								p Mi Cuenta
						li.nav-item
							a.nav-link(href="/dashboard")
								i.now-ui-icons.business_chart-pie-36
								p Dashboard
						li.nav-item
							a.nav-link(href="/cv")
								i.now-ui-icons.users_circle-08
								p Editacion de Perfil
						li.nav-item
							a.nav-link(href="/search")
								i.now-ui-icons.ui-1_zoom-bold
								p Busqueda de Vacantes
						li.nav-item
							a.nav-link(href="/course")
								i.now-ui-icons.design-2_ruler-pencil
								p Cursos
						li.nav-item
							a.nav-link(href="/services")
								i.now-ui-icons.ui-1_send
								p Servicios
						li.nav-item
							a.nav-link(href="#")
								i.now-ui-icons.media-1_button-power
								p Salir
						//- li.nav-item
						//- 	a.nav-link(href="#")
						//- 		i.fa.fa-instagram
						//- 		p.d-lg-none.d-xl-none Instagram
		<!-- End Navbar -->
		<!-- Wrapper -->
		.wrapper
			block content
		<!-- End Wrapper -->
		<!-- Footer -->
		footer.footer.fixed-bottom(data-background-color="blue")
			.container
				nav.d-flex.float-none.float-sm-left.text-center
					ul
						li
							a.text-muted(href="#") Elitus
						li
							a.text-muted(href="#") Operativo
						li
							a.text-muted(href="#") Empresa
						li
							a.text-muted(href="#") Partner
						li
							a.text-muted(href="#") Menú General
				.copyright.text-muted.pt-2.pt-sm-0.text-center.text-sm-center
					| &copy;
					| &nbsp;
					script document.write(new Date().getFullYear()) 
					| &nbsp;
					| Vleeko | Correo Corporativo
		<!-- End Footer -->
		#exampleModal.modal.fade.modal-primary
			.modal-dialog.modal-dialog-centered
				.modal-content
					.modal-header.justify-content-center
						button.close(type="button",data-dismiss="modal",aria-hidden="true")
							i.now-ui-icons.ui-1_simple-remove
						h4.title.title-up Modal Title
					.modal-body
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur harum optio. Officiis dolore incidunt error perferendis architecto quisquam esse repellendus inventore commodi facilis quibusdam unde mollitia id voluptas veritatis qui, consectetur, necessitatibus, ipsum amet molestias in veniam dolorem eos? Sit reiciendis, ab natus quas distinctio expedita doloremque fugiat maxime dolorum tempora ad nihil labore. Aspernatur aut neque, ex consequatur impedit tempora recusandae voluptate alias. Similique quas est consequatur fugit accusamus consectetur voluptatem at soluta maxime, amet laudantium eos! Aliquam maxime quas repudiandae enim velit sequi ad laboriosam, fugiat, temporibus illum, molestias hic minima iste? Eligendi voluptatem similique architecto eaque?
					.modal-footer
						button.btn.btn-default(type="button") Boton
						button.btn.btn-danger(type="button", data-dismiss="modal") Cerrar
		#exampleModalMini.modal.fade.modal-mini.modal-primary
			.modal-dialog.modal-dialog-centered
				.modal-content
					.modal-header.justify-content-center
						.modal-profile
							i.now-ui-icons.users_circle-08
					.modal-body
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, numquam!
					.modal-footer
						button.btn.btn-link.btn-neutral(type="button") Neutral
						button.btn.btn-link.btn-neutral(type="button", data-dismiss="modal") Cerrar
		script(src='./jquery/dist/jquery.min.js', type='text/javascript')
		script(src='./popper.js/dist/umd/popper.min.js', type='text/javascript')
		script(src='./bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
		script(src='./bootstrap-switch/dist/js/bootstrap-switch.min.js', type='text/javascript')
		script(src='./nouislider/distribute/nouislider.min.js', type='text/javascript')
		script(src='./bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js', type='text/javascript')
		script(src='./javascripts/now-ui-kit.js', type='text/javascript')