extends ../layout

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.col-sm-12.col-md-12.px-3.col-lg-8.col-xl-8.mt-4
					.col.py-2.bg-white
						h4.text-info.m-0.pb-3 Curriculum Vitae
						.col
							.row
								form.col(action="")
									.row.justify-content-center
										.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
											.form-group
												label.text-info(for="") NOMBRE
												input.form-control(type="text",disabled,value="Karla Munguía Carrera")
										.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
											.form-group
												label.text-info(for="") USUARIO
												input.form-control(type="text",disabled,value="kcmunguía")
										.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
											.form-group
												label.text-info(for="") CORREO ELECTRÓNICO
												input.form-control(type="text",disabled,value="dgmunguia.kc@gmail.com")
									.row
										.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
											.form-group
												label.text-info(for="") DIRECCÍON
												input.form-control(type="text",disabled,value="Manzana 27 Casa 5 Fovissete San Roque")
										.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
											.form-group
												label.text-info(for="") TELÉFONO(CON LADA)
												input.form-control(type="text",disabled,value="2227 53 78 11")
									.row.justify-content-center.align-items-center
										.col-12.col-sm-4.col-md
											.form-group
												label.text-info(for="") PAÍS
												input.form-control(type="text",disabled,value="México")
										.col-12.col-sm-4.col-md
											.form-group
												label.text-info(for="") ESTADO
												input.form-control(type="text",disabled,value="Puebla") 
										.col-12.col-sm-4.col-md
											.form-group
												label.text-info(for="") CIUDAD
												input.form-control(type="text",disabled,value="Puebla") 
										.col-12.col-sm-4.col-md
											.form-group
												label.text-info(for="") C.P.
												input.form-control(type="text",disabled,value="72460")
										.col-12.col-sm-4.col-md
											.form-group
												label.text-info(for="") FECHA DE NACIMIENTO
												input.form-control(type="text",disabled,value="12/09/89")
									.row.p-4
										.col.p-2 
											label.text-info EXPERIENCIA
										.table-responsive.table-responsive-xl
											table.table.table-hover
												thead
													tr
														td.align-middle(scope="col") # 
														td.align-middle(scope="col") EMPRESA
														td.align-middle(scope="col") AÑO INICIO 
														td.align-middle(scope="col") AÑO FINAL
														td.align-middle(scope="col") PUESTO
														td.align-middle(scope="col") FUNCIONES
												tbody
													tr
														td.align-middle(scope="row") 1
														td.align-middle Vleeko
														td.align-middle 2015
														td.align-middle 2017
														td.align-middle Supervision
														td.align-middle Describir aquí sus funciones													
													tr
														td.align-middle(scope="row") 2
														td.align-middle Vleeko
														td.align-middle 2015
														td.align-middle 2017
														td.align-middle Supervision
														td.align-middle Describir aquí sus funciones													
													tr
														td.align-middle(scope="row") 3
														td.align-middle Vleeko
														td.align-middle 2015
														td.align-middle 2017
														td.align-middle Supervision
														td.align-middle Describir aquí sus funciones													
													tr
														td.align-middle(scope="row") 4
														td.align-middle Vleeko
														td.align-middle 2015
														td.align-middle 2017
														td.align-middle Supervision
														td.align-middle Describir aquí sus funciones													
									.row
										.col.text-right.pt-3
											button.btn.btn-info(type="submit") PERFIL LISTO
				.col-12.col-sm-12.px-3.col-md-12.col-lg-4.col-xl-4.mt-4
					.card.bg-white.border(style="box-shadow: none;border-color: #dadada !important;")
						.card-img-top
							img.img-fluid.w-100(src="./images/fondoperfil.png", alt="", style="height: 120px;")
							img.img-fluid.rounded-circle.d-block.mx-auto(src="./images/amazona.png", alt="", style="margin-top: -65px;")
						.card-body.text-center(style="min-height: auto;")
							h5.text-muted.m-0 Karla Munguía Carrera
							span.text-info kcmunguia
							p.card-text 2227 53 78
								| &nbsp;
								span.text-info |
								| &nbsp;
								| dgmunguia.kc@gmail.com
						.col-12.border-top.p-3(style="border-color: #dadada !important;") 