extends ../layout

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					.col.py-2.bg-white
						h4.text-info.m-0.pb-3 Dashboard
						.col
							button.btn.btn-primary(type="button",data-toggle="modal",data-target="#exampleModal") Modal
							button.btn.btn-warning(type="button",data-toggle="modal",data-target="#exampleModalMini") Modal Mini
