extends ../layout 

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					.col.py-5.px-5(data-image="./images/KRILLOS.jpg", filter-color="black", style="box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);")
						h4.m-0.text-white.text-capitalize Piloto
					.col.p-4.bg-white
						form.col(action="")
							.row.mb-3
								.w-100
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Foto (Busto)
									button.btn.btn-danger.btn-block Subir Archivo
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Foto (Cuerpo completo)
									button.btn.btn-danger.btn-block Subir Archivo
							.row.mb-3
								.col-12.p-2
									h6.text-black.text-capitalize Estimado partner:
								.col-12.p-2
									h6.text-black.text-capitalize Carga fotos tuyas en los espacios que se indican (Formato: JPG):
								.col-12
									ul
										li Foto de frente (Busto), a color.
										li Foto de frente (Cuerpo completo), a color,
								.col-12.p-2
									h6.text-black.text-capitalize Recomendaciones:
								.col-12
									ul
										li Asegúrate que las fotos sean claras, bien definidas.
										li Vistiendo autendo formal.
										li Foto recientes.
										li Sin retoque.
							.row.mb-3
								.col-12.p-2
										h5.text-black.text-capitalize Datos Personales:
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Nombre Completo:
										input.form-control(type="text",placeholder="Nombre Completo:")
									.form-group
										label.text-muted Correo Electrónico(1):
										input.form-control(type="text",placeholder="Correo Electronico(1):")
									.form-group
										label.text-muted Correo Electrónico(2):
										input.form-control(type="text",placeholder="Correo Electronico(2):")
									.form-group
										label.text-muted Hijos:
										input.form-control(type="number",placeholder="Hijos:")
									.form-group
										label.text-muted Dirección actual (Completa):
										textarea.form-control(cols="1",rows="1",placeholder="Dirección actual (Completa):")
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Fecha de Nacimiento:
										input.form-control.date-picker(type="text",placeholder="Día de solicitud:",data-datepicker-color="primary")
									.form-group
										label.text-muted Edad:
										input.form-control(type="number",placeholder="Edad:")
									.form-group
										label.text-muted Estatura:
										input.form-control(type="number",placeholder="Estatura:")
									.form-group
										label.text-muted Peso:
										input.form-control(type="number",placeholder="Peso:")
									.form-group
										label.text-muted Teléfono de algún contacto cercano:
										input.form-control(type="tel",placeholder="Teléfono de algún contacto cercano:")
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Edo. Civil:
										select.form-control(name="")
											option(selected="selected",disabled="disabled") Seleccione un edo. civil
									.form-group
										label.text-muted Nacionalidad:
										select.form-control(name="")
											option(selected="selected",disabled="disabled") Seleccione una nacionalidad 
									.form-group
										label.text-muted Celular:
										input.form-control(type="tel",placeholder="Celular:")
									.form-group
										label.text-muted Teléfono de casa
										input.form-control(type="tel",placeholder="Teléfono de casa:")
									.form-group
										label.text-muted Lada:
										input.form-control(type="text",placeholder="Lada:")
							.row.mb-3
								.col-12
									h6.text-black.text-capitalize ¿Tiene familiares laborando en?
								.w-100
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio",name="option1",id="true1")
										label(for="true1") Si 
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio",name="option1",id="false1")
										label(for="false1") No 
								.w-100
								.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
									.form-group
										label.text-muted Nombre de la Aerolínea:
										input.form-control(type="text",placeholder="Nombre de la Aerolínea:")
							.row.mb-3
								.col-12
									h6.text-black.text-capitalize Esposa:
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio", name="option2", id="true2")
										label(for="true2") Si
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio", name="option2", id="false2")
										label(for="false2") No
							.row.mb-3
								.col-12
									.form-group
										label.text-muted Otros familiares:
										input.form-control(type="text",placeholder="Otros familiares:")
							.row.mb-3
								.col-12
									h6.text-black.text-capitalize ¿Está afiliado a algún sindicato?:
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio", name="option3", id="true3")
										label(for="true3") Si
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio", name="option3", id="false3")
										label(for="false3") No
							.row.mb-3
								.col-12
									h6.text-black.text-capitalize ¿Ha participado anteriormente en algún proceso de selección de algunas aerolíneas?
								.w-100
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio",name="option4",id="true4")
										label(for="true4") Si 
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio",name="option4",id="false4")
										label(for="false4") No 
								.w-100
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Cual?
										input.form-control(type="text",placeholder="Cual?")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Fecha
										input.form-control.date-picker(type="text",placeholder="Día de solicitud:",data-datepicker-color="primary")
							.row.mb-3
								.col-12
									h6.text-black.text-capitalize Disponibilidad para cambiar de residencia:
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio", name="option5", id="true5")
										label(for="true5") Si
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio
									.form-group
										input(type="radio", name="option5", id="false5")
										label(for="false5") No
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize RTARI:
								.w-100
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group.text-md-center.text-lg-center.text-xl-center
										label.text-muted.d-block &nbsp;
										label.text-muted RTARI:
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										lable.text-muted Nivel:
										select.form-control(name="")
											option(selected="selected",disabled="disabled") Seleccione un Nivel
											option(value="0") Básico
											option(value="1") Intermedio
											option(value="2") Avanzado
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Licencia:
								.col-12
									h6.text-black.text-capitalize Licencia actual:
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4.radio.mb-0.align-self-center
									.form-group
										input(type="radio", name="option6", id="true6")
										label(for="true6") Piloto privado
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4.radio.mb-0.align-self-center
									.form-group
										input(type="radio", name="option6", id="false6")
										label(for="false6") Piloto comercial
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Últimas horas certificadas:
										input.form-control.date-picker(type="text",placeholder="Últimas horas certificadas:",data-datepicker-color="primary")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Examen médico:
								.col-12.col-sm-12.col-md-.col-lg-6.col-xl-6
									label.text-muted Vigente: 
									.row.col-12.col-sm-12
										.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio.mb-0.align-self-center
											.form-group
												input(type="radio", name="option7", id="true7")
												label(for="true7") Si
										.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.radio.mb-0.align-self-center
											.form-group
												input(type="radio", name="option7", id="false7")
												label(for="false7") No
								.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
									.form-group
										label.text-muted Expedido:
										input.form-control.date-picker(type="text",placeholder="Expedido:",data-datepicker-color="primary")
								.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
									.form-group
										label.text-muted Vence:
										input.form-control.date-picker(type="text",placeholder="Vence:",data-datepicker-color="primary")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Idiomas:
								.w-100
								.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
									.form-group
										label.text-muted Idioma:
										select.form-control(name="")
											option(selected="selected",disabled="disabled") Seleccione un idioma
											option(value="0") Inglés
											option(value="1") Francés
											option(value="2") Alemán
											option(value="3") Italiano
											option(value="4") Ruso 
											option(value="5") Mandarín 
											option(value="6") Otros 
								.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
									.form-group
										label.text-muted Hablado:
										select.form-control(name="")
											option(selected="selected",disabled="disabled") Seleccione un Nivel
											option(value="0") Básico
											option(value="1") Intermedio
											option(value="2") Avanzado
								.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
									.form-group
										label.text-muted Escrito:
										select.form-control(name="")
											option(selected="selected",disabled="disabled") Seleccione un Nivel
											option(value="0") Básico
											option(value="1") Intermedio
											option(value="2") Avanzado
								.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
									.form-group
										label.text-muted Lectura:
										select.form-control(name="")
											option(selected="selected",disabled="disabled") Seleccione un Nivel
											option(value="0") Básico
											option(value="1") Intermedio
											option(value="2") Avanzado
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Pasaporte:
								.col-12.mb-3
									.form-group
										label.text-muted Pasaporte:
										input.form-control(type="text",placeholder="Pasaporte:")
								.col-12
									h6.text-black.text-capitalize Vigencia del pasaporte:
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Expendido:
										input.form-control.date-picker(type="text",placeholder="Expendido:",data-datepicker-color="primary")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Vence:
										input.form-control.date-picker(type="text",placeholder="Vence:",data-datepicker-color="primary")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Visa USA:
								.col-12.mb-3
									.form-group
										label.text-muted Visa USA, número:
										input.form-control(type="text",placeholder="Visa USA, número:")
								.col-12
									h6.text-black.text-capitalize Vigencia de la Visa USA:
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Expendido:
										input.form-control.date-picker(type="text",placeholder="Expendido:",data-datepicker-color="primary")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Vence:
										input.form-control.date-picker(type="text",placeholder="Vence:",data-datepicker-color="primary")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Experiencia laboral (Empiece por el empleo actual o último):
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-6
									.form-group
										label.text-muted Empresa:
										input.form-control(type="text",placeholder="(Nombre)")
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-6
									.form-group
										label.text-muted Puesto:
										input.form-control(type="text",placeholder="Puesto:")
								.col-12.col-sm-12.col-md-2.col-lg-2.col-xl-2
									.form-group
										label.text-muted Fecha de inicio:
										input.form-control.date-picker(type="text",placeholder="Fecha de inicio:",data-datepicker-color="primary")
								.col-12.col-sm-12.col-md-2.col-lg-2.col-xl-2
									.form-group
										label.text-muted Fecha de Fin:
										input.form-control.date-picker(type="text",placeholder="Fecha de Fin:",data-datepicker-color="primary")
								.col-12
									.form-group
										label.text-muted Actividades realizadas:
										textarea.form-control(ols="1",rows="1",placeholder="Actividades realizadas:")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Logros obtenidos:
										input.form-control(type="text",placeholder="Logros obtenidos:")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Logros obtenidos:
										input.form-control(type="text",placeholder="Logros obtenidos:")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Formacion Académica:
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Escuela/Institución:
										input.form-control(type="text",placeholder="Escuela/Institución:")
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Nivel:
										input.form-control(type="text",placeholder="Nivel:")
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Lugar:
										input.form-control(type="text",placeholder="Lugar:")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Fecha de Inicio
										input.form-control.date-picker(type="text",placeholder="Fecha de Inicio:",data-datepicker-color="primary")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Fecha de Fin
										input.form-control.date-picker(type="text",placeholder="Fecha de Fin:",data-datepicker-color="primary")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Posgrado/Cursos/Programas/Diplomados tomados:
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Escuela/Institución:
										input.form-control(type="text",placeholder="Escuela/Institución:")
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Nivel:
										input.form-control(type="text",placeholder="Nivel:")
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Lugar:
										input.form-control(type="text",placeholder="Lugar:")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Fecha de Inicio
										input.form-control.date-picker(type="text",placeholder="Fecha de Inicio:",data-datepicker-color="primary")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted Fecha de Fin
										input.form-control.date-picker(type="text",placeholder="Fecha de Fin:",data-datepicker-color="primary")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Habilidades Directivas (Describa las habilidades que posee):
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Habilidades:
										input.form-control(type="text",placeholder="Habilidades:")
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Habilidades:
										input.form-control(type="text",placeholder="Habilidades:")
								.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Habilidades:
										input.form-control(type="text",placeholder="Habilidades:")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Pasatiempos/Deportes/etc.:
								.col-12
									.form-group
										label.text.muted Pasatiempos/Deportes/etc.:
										textarea.form-control(placeholder="Pasatiempos/Deportes/etc.:",cols="1", rows="1")
							.row.mb-3
								.col-12.p-2
									h5.text-black.text-capitalize Documentos:
								.col-12
									p.text-muted 
										| Estimado partner, como piloto debes mostrar a las empresas aéreas los documentos que comprueben tu preparación. Escanea y carga cada uno de los documentos que respalden tu preparación, experiencia, etc. El formato puede ser en PDF, JPG, etc.
								.w-100
								.col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Licencia
									button.btn.btn-danger.btn-block Subir Archivo
								.col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Nivel RTARI
									button.btn.btn-danger.btn-block Subir Archivo
								.col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Examen médico
									button.btn.btn-danger.btn-block Subir Archivo
								.col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Pasaporte
									button.btn.btn-danger.btn-block Subir Archivo
								.col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Visa USA
									button.btn.btn-danger.btn-block Subir Archivo
								.col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Título y cedula de Piloto Comercial
									button.btn.btn-danger.btn-block Subir Archivo
								.col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.mb-4
									img.mx-auto.d-block.rounded-top.rounded-bottom(src="./images/ryan.jpg",style="width: 160px;height: 160px;object-fit: cover;")
									h6.text-center.mt-2 Otro
									button.btn.btn-danger.btn-block Subir Archivo
								