extends ../layout

block content
	.login-page
		.page-header(filter-color="orange")
			.page-header-image(style="background-image: url('./images/portada.jpg')")
			.container
				.col-md-4.content-center
					.card.card-login.card-plain
						form.form(method="",action="")
							.header.header-primary.text-center
								.logo-container
									img(src="./images/logocolor.png",alt="")
							.content
								.input-group.form-group-no-border.input-lg
									.input-group-prepend.mr-0
										span.input-group-addon.input-group-text
											i.now-ui-icons.users_circle-08
									input.form-control(type="email",placeholder="Correo Electronico")
								.input-group.form-group-no-border.input-lg
									.input-group-prepend.mr-0
										span.input-group-addon.input-group-text
											i.now-ui-icons.objects_key-25
									input.form-control(type="password",placeholder="Contraseña")
								span ¿Olvidaste tu contraseña?	
									h6.d-inline
										a.link(href="#",style="text-decoration: underline;") Click aquí   
							.footer.text-center
								a.btn.btn-custom-success.btn-round.btn-lg.btn-block(href="#") Iniciar Sesion
							div
								span ¿Es tu primera vez por aquí? 
									h6.d-inline
										a.link(href="#",style="text-decoration: underline;") Registrate