extends ../layout

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					.container.p-0.bg-white.bx-shadow
						.text-center.text-ks-info.m-0.pt-5.pb-3.px-4
							h4.m-0.font-weight-bold Editar Perfil
							span.text-muted.font-italic Llena de forma clara y precisa los siguientes campos
						.ks-tabs
							.row
								.col-4.p-0
									button.rounded-0.btn.btn-block.text-uppercase.font-weight-bold(style="border-top-left-radius: 5px !important;border-bottom-left-radius: 5px !important;") Datos Personales
								.col-4.p-0
									button.rounded-0.btn.btn-block.text-uppercase.font-weight-bold Experiencia Laboral
								.col-4.p-0
									button.rounded-0.btn.btn-block.text-uppercase.font-weight-bold(style="border-top-right-radius: 5px !important;border-bottom-right-radius: 5px !important;") Documentación
						.position-relative.px-5
							.text-center.text-ks-info.m-0.py-2.px-4
								span.d-block.font-weight-bold Estimado ejecutivo:
								span.d-block.text-muted.font-italic Carga tus fotos a color en los especios que se indican.
							.col.my-3
								.row
									.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.text-center
										span.d-block.font-weight-bold.text-success Foto (Busto)
										.px-5.py-3
											img.img-thumbnail.rounded-circle(src="./images/default-avatar.png")
									.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.text-center
										span.d-block.font-weight-bold.text-success Foto (Cuerpo Completo)
										.px-5.py-3
											img.img-thumbnail.rounded-circle(src="./images/default-avatar.png")
							.text-center.text-ks-info.m-0.py-2.px-4
								span.d-block.font-weight-bold Recomendaciones.
								span.d-block.text-muted.font-weight-normal
									| Asegurate que las fotos sean claras, bien definidas.
									br
									| Vistiendo atuendo formal. 
									br
									| Fotos recientes
									br.
									| Sin retoques.
							hr.border-success

							.col
								.row
									form.col(action="")
										.row.justify-content-center
											.col-12
												.form-group.form-ks
													label.text-info(for="") Nombre Completo:
													input.form-control(type="text",placeholder="Nombre Completo",value="")
											.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
												.form-group.form-ks
													label.text-info(for="") Celular:
													input.form-control(type="tel",placeholder="Celular:")
											.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
												.form-group.form-ks
													label.text-info(for="") Teléfono de casa:
													input.form-control(type="tel",placeholder="Teléfono de casa:")
											.w-100
											.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
												.form-group.form-ks
													label.text-info(for="") Correo Electrónico(1):
													input.form-control(type="email",placeholder="Correo Electrónico(1):")
											.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
												.form-group.form-ks
													label.text-info(for="") Correo Electrónico(2):
													input.form-control(type="email",placeholder="Correo Electrónico(2):")
											.w-100
											.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
												.form-group.form-ks
													label.text-info(for="") Fecha de nacimiento:
													input.form-control.date-picker(type="text",placeholder="Fecha de nacimiento:",data-datepicker-color="primary")
											.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
												.form-group.form-ks
													label.text-info(for="") Edad:
													input.form-control(type="number", placeholder="Edad")
											.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
												.form-group.form-ks
													label.text-muted Edo. Civil:
													select.form-control(name="")
														option(selected="selected",disabled="disabled") Seleccione un edo. civil
											.w-100
											.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
												.form-group.form-ks
													label.text-muted Nacionaliada:
													input.form-control(type="text", placeholder="Nacionalidad:")
											.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
												.form-group.form-ks
													label.text-muted Estatura:
													input.form-control(type="text", placeholder="Estatura:")
										.row
											.col.text-right.pt-3.pb-3
												button.btn.btn-ks-info(type="submit") PERFIL LISTO
							//- .col
							//- 	.row
							//- 		form.col(action="")
							//- 			.row.justify-content-center
							//- 				.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
							//- 					.form-group
							//- 						label.text-info(for="") NOMBRE
							//- 						input.form-control(type="text",value="Karla Munguía Carrera")
							//- 				.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
							//- 					.form-group
							//- 						label.text-info(for="") USUARIO
							//- 						input.form-control(type="text",value="kcmunguía")
							//- 				.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
							//- 					.form-group
							//- 						label.text-info(for="") CORREO ELECTRÓNICO
							//- 						input.form-control(type="text",value="dgmunguia.kc@gmail.com")
							//- 			.row
							//- 				.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- 					.form-group
							//- 						label.text-info(for="") DIRECCÍON
							//- 						input.form-control(type="text",value="Manzana 27 Casa 5 Fovissete San Roque")
							//- 				.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							//- 					.form-group
							//- 						label.text-info(for="") TELÉFONO(CON LADA)
							//- 						input.form-control(type="text",value="2227 53 78 11")
							//- 			.row.justify-content-center.align-items-center
							//- 				.col-12.col-sm-4.col-md
							//- 					.form-group
							//- 						label.text-info(for="") PAÍS
							//- 						input.form-control(type="text",value="México")
							//- 				.col-12.col-sm-4.col-md
							//- 					.form-group
							//- 						label.text-info(for="") ESTADO
							//- 						input.form-control(type="text",value="Puebla") 
							//- 				.col-12.col-sm-4.col-md
							//- 					.form-group
							//- 						label.text-info(for="") CIUDAD
							//- 						input.form-control(type="text",value="Puebla") 
							//- 				.col-12.col-sm-4.col-md
							//- 					.form-group
							//- 						label.text-info(for="") C.P.
							//- 						input.form-control(type="text",value="72460")
							//- 				.col-12.col-sm-4.col-md
							//- 					.form-group
							//- 						label.text-info(for="") FECHA DE NACIMIENTO
							//- 						input.form-control(type="text",value="12/09/89")
							//- 			.row.p-4
							//- 				.col.p-2 
							//- 					label.text-info EXPERIENCIA
							//- 				.table-responsive.table-responsive-xl
							//- 					table.table.table-hover
							//- 						thead
							//- 							tr
							//- 								td.align-middle(scope="col") # 
							//- 								td.align-middle(scope="col") EMPRESA
							//- 								td.align-middle(scope="col") AÑO INICIO 
							//- 								td.align-middle(scope="col") AÑO FINAL
							//- 								td.align-middle(scope="col") PUESTO
							//- 								td.align-middle(scope="col") FUNCIONES
							//- 						tbody
							//- 							tr
							//- 								td.align-middle(scope="row") 1
							//- 								td.align-middle
							//- 									.form-group
							//- 										input.form-control(type="text",value="Vlooko")
							//- 								td.align-middle
							//- 									.form-group
							//- 										input.form-control(type="date",value="2015")
							//- 								td.align-middle
							//- 									.form-group
							//- 										input.form-control(type="date",value="2017")
							//- 								td.align-middle
							//- 									.form-group
							//- 										input.form-control(type="text",value="Supervisor")
							//- 								td.align-middle
							//- 									.form-group
							//- 										input.form-control(type="text",value="Describir aquí sus funciones")